<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="4"
    android:versionName="1.0.4"
    android:compileSdkVersion="36"
    android:compileSdkVersionCodename="16"
    package="qmyy.babycat.live"
    platformBuildVersionCode="36"
    platformBuildVersionName="16">
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="36"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <queries>
        <intent>
            <action android:name="com.android.vending.billing.InAppBillingService.BIND"/>
        </intent>
        <intent>
            <action android:name="com.google.android.apps.play.billingtestcompanion.BillingOverrideService.BIND"/>
        </intent>
        <package android:name="com.huawei.multimedia.audioengine"/>
        <package android:name="com.hihonor.android.magicx.media.audioengine"/>
        <package android:name="com.oplus.karaoke"/>
        <package android:name="com.coloros.karaoke"/>
        <package android:name="com.coloros.ocs.opencapabilityservice"/>
        <package android:name="com.oplus.ocs"/>
    </queries>
    <permission
        android:name="qmyy.babycat.live.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="qmyy.babycat.live.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="com.oplus.ocs.permission.third"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"/>
    <application
        android:theme="@style/LaunchTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/voice_logo"
        android:name="net.babycat.live.app.MyApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/voice_logo"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:enableOnBackInvokedCallback="false">
        <service
            android:name="net.babycat.live.platform.util.BabyCatRTCNotificationService"
            android:permission="android.permission.FOREGROUND_SERVICE"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="true"
            android:foregroundServiceType="microphone"/>
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4"/>
        <meta-data
            android:name="android.notch_support"
            android:value="true"/>
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape"/>
        <activity
            android:name="net.babycat.live.shell.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="net.babycat.live.shell.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="layoutDirection|orientation|keyboardHidden|keyboard|locale">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="babycat"
                    android:host="voice"/>
            </intent-filter>
        </activity>
        <service
            android:name="net.babycat.live.platform.service.MyServices"
            android:exported="false"/>
        <activity
            android:name="net.babycat.live.modules.auth.ui.VerificationCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.auth.ui.LoginAccountActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.auth.ui.LoginPhoneActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.auth.ui.LoginUserInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.auth.ui.LoginThirdPartyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="layoutDirection|keyboard|locale"/>
        <activity
            android:name="net.babycat.live.modules.room.ui.CreatePersonalRoomActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.voice.ui.RoomManagerActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.MySetActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.BlackUserActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.voice.ui.NewVoiceChatRoomActivity"
            android:persistent="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation"
            android:windowSoftInputMode="adjustResize"
            android:supportsPictureInPicture="true"/>
        <activity
            android:name="net.babycat.live.modules.voice.ui.video.LiveAnchorActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|keyboard"/>
        <activity
            android:name="net.babycat.live.modules.voice.ui.video.LiveAudienceActivity"
            android:persistent="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation"
            android:windowSoftInputMode="adjustResize"
            android:supportsPictureInPicture="true"/>
        <activity
            android:name="net.babycat.live.modules.voice.ui.video.EndInterfaceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|keyboard"/>
        <activity
            android:name="net.babycat.live.modules.feed.ui.DynamicDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|keyboard"/>
        <activity
            android:name="net.babycat.live.modules.feed.ui.DynamicPushActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|keyboard"/>
        <activity
            android:name="net.babycat.live.modules.message.ui.NoticeNewsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="net.babycat.live.modules.message.ui.SystemMessageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.MyProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.MyProfileNameActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.MyProfileSignActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.MyExchangeActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.FamilyActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.CreatingFamilyActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.MySpaceActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="my.android.action.space"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="net.babycat.live.modules.profile.ui.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.MyGiftWallActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="my.android.action.giftwall"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="net.babycat.live.modules.voice.ui.VoiceRoomDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.MyPayActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.RechargeRecordActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.MyShopActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.MyPropsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.CPRelationshipActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.discover.ui.HomeRankingActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.discover.ui.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.CreateNewsFamilyActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.MyFamilyInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.MyFamilyUsersActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.MyFamilyJoinActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.badge.ui.MyMedalActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.MyVipActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.shell.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.message.ui.ChatFriendsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.message.ui.MessageDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.message.ui.ActivityCenterActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.MyFriendsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.MyLikeFriendsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.MyLikeLogActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.ExchangeRecordsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.AgentTopUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.AgentMyLogActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.InviteFriendsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.AgencyRegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.AgentActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.MyDiamondActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.BindingPayActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.MyGoldExchangeActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.MyLevelActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.MyLevelInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.FeedbackActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.FeedbackListActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.creator.ui.MyAnchorActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.creator.ui.MyGuildActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.creator.ui.SalaryBillActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.creator.ui.BasicSalaryActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.creator.ui.AnchorRecordsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.creator.ui.MyAgencyActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.creator.ui.HostManagerActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.creator.ui.MasterSalaryActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.creator.ui.AgencySalaryActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.creator.ui.TaskCollectionListActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.creator.ui.AddHostActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.creator.ui.HostLevelActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.creator.ui.LiveRecordsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.LiveUserCenterAuthentActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.LiveMonitorActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.MyPayRewardsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.MyPayRechWeeklyActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.creator.ui.AnchorTaskActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.WithdrawalRecordsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.discover.ui.RechargeBannerActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.discover.ui.HomeCountryActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.creator.ui.DiamondRewardsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.auth.ui.LoginEmailActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.auth.ui.ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.SecurityAccountActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.DeleteUserAccountActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.CountryAgencyActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.MyTransferActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.MyTransferRecordsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.MyWithdrawActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.profile.ui.WithdrawInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.discover.ui.MyShopAddressActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.discover.ui.ShopAddNewAddressActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.discover.ui.MyShopOrdersActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.discover.ui.ShopOrderDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.discover.ui.ShopShoppingCartActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.discover.ui.ShopOrderConfirmationActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.babycat.live.modules.message.ui.FriendApplyActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="qmyy.babycat.live.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>
        <provider
            android:name="com.tencent.qcloud.tuikit.tuiconversation.TUIConversationService"
            android:enabled="true"
            android:exported="false"
            android:authorities="qmyy.babycat.live.TUIConversation.Init"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuiconversation.classicui.page.TUIForwardSelectActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuiconversation.classicui.page.TUIFoldedConversationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/ConversationTransparentPopActivityStyle"
            android:name="com.tencent.qcloud.tuikit.tuiconversation.minimalistui.page.TUIForwardSelectMinimalistActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuiconversation.minimalistui.page.TUIFoldedConversationMinimalistActivity"
            android:screenOrientation="portrait"/>
        <provider
            android:name="com.tencent.qcloud.tuikit.tuicontact.TUIContactService"
            android:enabled="true"
            android:exported="false"
            android:authorities="qmyy.babycat.live.TUIContact.Init"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuicontact.classicui.pages.AddMoreActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuicontact.classicui.pages.FriendProfileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuicontact.classicui.pages.NewFriendActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuicontact.classicui.pages.BlackListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuicontact.classicui.pages.GroupListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuicontact.classicui.pages.StartC2CChatActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuicontact.classicui.pages.StartGroupChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuicontact.classicui.pages.ForwardSelectGroupActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuicontact.classicui.pages.StartGroupMemberSelectActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuicontact.classicui.pages.CreateGroupActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuicontact.classicui.pages.GroupTypeSelectActivity"
            android:screenOrientation="portrait"/>
        <provider
            android:name="com.tencent.qcloud.tuikit.tuicontact.classicui.ClassicUIExtensionObserver"
            android:enabled="true"
            android:exported="false"
            android:authorities="qmyy.babycat.live.TUIContact.ClassicUI.Init"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuicontact.minimalistui.pages.FriendProfileMinimalistActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuicontact.minimalistui.pages.NewFriendApplicationMinimalistActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuicontact.minimalistui.pages.NewFriendApplicationDetailMinimalistActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuicontact.minimalistui.pages.BlackListMinimalistActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuicontact.minimalistui.pages.GroupListMinimalistActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/ContactTransparentPopActivityStyle"
            android:name="com.tencent.qcloud.tuikit.tuicontact.minimalistui.pages.StartC2CChatMinimalistActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/ContactTransparentPopActivityStyle"
            android:name="com.tencent.qcloud.tuikit.tuicontact.minimalistui.pages.StartGroupChatMinimalistActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuicontact.minimalistui.pages.StartGroupMemberSelectMinimalistActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/ContactTransparentPopActivityStyle"
            android:name="com.tencent.qcloud.tuikit.tuicontact.minimalistui.pages.CreateGroupMinimalistActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/ContactTransparentPopActivityStyle"
            android:name="com.tencent.qcloud.tuikit.tuicontact.minimalistui.pages.GroupTypeSelectMinimalistActivity"
            android:screenOrientation="portrait"/>
        <provider
            android:name="com.tencent.qcloud.tuikit.tuichat.TUIChatService"
            android:enabled="true"
            android:exported="false"
            android:authorities="qmyy.babycat.live.TUIChat.Init"
            android:initOrder="9999"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuichat.component.imagevideoscan.ImageVideoScanActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuichat.classicui.page.MessageReplyDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuichat.classicui.page.TUIForwardChatActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuichat.classicui.page.TUIC2CChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateHidden"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuichat.classicui.page.TUIGroupChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateHidden"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuichat.classicui.page.MessageReceiptDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuichat.component.camera.CameraActivity"
            android:screenOrientation="portrait"/>
        <provider
            android:name="com.tencent.qcloud.tuikit.tuichat.classicui.ClassicUIService"
            android:enabled="true"
            android:exported="false"
            android:authorities="qmyy.babycat.live.TUIChat.ClassicUI.Init"
            android:initOrder="9998"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuichat.minimalistui.component.camera.CameraActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/ChatTransparentPopActivityStyle"
            android:name="com.tencent.qcloud.tuikit.tuichat.minimalistui.widget.messagepopmenu.ChatPopActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustNothing|stateHidden"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuichat.minimalistui.page.TUIC2CChatMinimalistActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateHidden"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuichat.minimalistui.page.TUIGroupChatMinimalistActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateHidden"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuichat.minimalistui.page.MessageDetailMinimalistActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuichat.minimalistui.page.TUIForwardChatMinimalistActivity"
            android:screenOrientation="portrait"/>
        <provider
            android:name="com.tencent.qcloud.tuikit.tuichat.minimalistui.MinimalistUIService"
            android:enabled="true"
            android:exported="false"
            android:authorities="qmyy.babycat.live.TUIChat.MinimalistUI.Init"
            android:initOrder="9998"/>
        <provider
            android:name="com.tencent.qcloud.tuikit.tuigroup.TUIGroupService"
            android:enabled="true"
            android:exported="false"
            android:authorities="qmyy.babycat.live.TUIGroup.Init"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuigroup.classicui.page.GroupNoticeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuigroup.classicui.page.SetGroupManagerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuigroup.classicui.page.GroupMemberActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuigroup.classicui.page.ManageGroupActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuigroup.classicui.page.GroupInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuigroup.classicui.page.GroupApplyManagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuigroup.classicui.page.GroupApplyDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <provider
            android:name="com.tencent.qcloud.tuikit.tuigroup.classicui.ClassicUIExtensionObserver"
            android:enabled="true"
            android:exported="false"
            android:authorities="qmyy.babycat.live.TUIGroup.ClassicUI.Init"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuigroup.minimalistui.page.GroupNoticeMinimalistActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuigroup.minimalistui.page.GroupMemberMinimalistActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuigroup.minimalistui.page.ManageGroupMinimalistActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuigroup.minimalistui.page.GroupInfoMinimalistActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuigroup.minimalistui.page.GroupApplyManagerMinimalistActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuigroup.minimalistui.page.GroupApplyDetailMinimalistActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.lxj.xpopup.util.XPermission.PermissionActivity"/>
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name="com.yalantis.ucrop.UCropMultipleActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/ActivityTranslucent"
            android:name="com.blankj.utilcode.util.UtilsTransActivity4MainProcess"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:theme="@style/ActivityTranslucent"
            android:name="com.blankj.utilcode.util.UtilsTransActivity"
            android:multiprocess="true"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <provider
            android:name="com.blankj.utilcode.util.UtilsFileProvider"
            android:exported="false"
            android:authorities="qmyy.babycat.live.utilcode.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/util_code_provider_paths"/>
        </provider>
        <service
            android:name="com.blankj.utilcode.util.MessengerUtils.ServerService"
            android:exported="false">
            <intent-filter>
                <action android:name="qmyy.babycat.live.messenger"/>
            </intent-filter>
        </service>
        <provider
            android:name="com.luck.picture.lib.basic.PictureFileProvider"
            android:exported="false"
            android:authorities="qmyy.babycat.live.luckProvider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/ps_file_paths"/>
        </provider>
        <service
            android:name="com.luck.picture.lib.service.ForegroundService"
            android:enabled="true"
            android:foregroundServiceType="location"/>
        <activity
            android:theme="@style/Base.Theme.NoActionBar"
            android:name="com.luck.picture.lib.basic.PictureSelectorSupporterActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/Picture.Theme.Translucent"
            android:name="com.luck.picture.lib.basic.PictureSelectorTransparentActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.timcommon.component.activities.SelectionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.timcommon.component.activities.ImageSelectActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.timcommon.component.activities.SelectionMinimalistActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.qcloud.tuikit.timcommon.component.activities.ImageSelectMinimalistActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/CoreActivityTranslucent"
            android:name="com.tencent.qcloud.tuikit.timcommon.util.ActivityResultResolver.ActivityResultProxyActivity"
            android:multiprocess="true"
            android:launchMode="singleTask"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <provider
            android:name="com.tencent.qcloud.tuikit.timcommon.util.FileProvider"
            android:exported="false"
            android:authorities="qmyy.babycat.live.timcommon.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public"/>
        </provider>
        <provider
            android:name="com.tencent.qcloud.tuikit.timcommon.TIMCommonService"
            android:enabled="true"
            android:exported="false"
            android:authorities="qmyy.babycat.live.TIMCommon.Init"
            android:initOrder="1"/>
        <activity
            android:theme="@style/CoreActivityTranslucent"
            android:name="com.tencent.qcloud.tuicore.permission.PermissionActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:theme="@style/CoreActivityTranslucent"
            android:name="com.tencent.qcloud.tuicore.util.PermissionRequester.PermissionActivity"
            android:multiprocess="true"
            android:launchMode="singleTask"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <provider
            android:name="com.tencent.qcloud.tuicore.ServiceInitializer"
            android:enabled="true"
            android:exported="false"
            android:authorities="qmyy.babycat.live.TUICore.Init"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:exported="false"
            android:excludeFromRecents="true"/>
        <service
            android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"
            android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"
            android:exported="true"
            android:visibleToInstantApps="true"/>
        <meta-data
            android:name="com.google.android.play.billingclient.version"
            android:value="8.0.0"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.android.billingclient.api.ProxyBillingActivity"
            android:exported="false"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.android.billingclient.api.ProxyBillingActivityV2"
            android:exported="false"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <service
            android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            android:exported="false">
            <meta-data
                android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                android:value="cct"/>
        </service>
        <service
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <receiver
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
            android:exported="false"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="qmyy.babycat.live.androidx-startup">
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup"/>
        </provider>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <provider
            android:name="me.jessyan.autosize.InitProvider"
            android:exported="false"
            android:multiprocess="true"
            android:authorities="qmyy.babycat.live.autosize-init-provider"/>
        <activity
            android:theme="@android:style/Theme.Translucent"
            android:name="com.tencent.liteav.audio2.permission.PermissionActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <uses-library
            android:name="libOpenCL.so"
            android:required="false"/>
        <activity
            android:theme="@android:style/Theme.Translucent"
            android:name="com.tencent.rtmp.video.TXScreenCapture.TXScreenCaptureAssistantActivity"/>
        <service
            android:name="com.tencent.rtmp.video.ScreenCaptureService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection"/>
    </application>
</manifest>
